*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 18px;
  font-family: 'Public Sans', sans-serif;

}
.App{
  height: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  align-items: center;
  position: static;
  z-index: 11;
  height: 20%;
}

.dt-nav-parent{
  display: none;
}
.dt-request{
  display: none;
}
.overlay {
  position: absolute;
  top: 11%;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(180, 3%, 31%, .5);
  background: linear-gradient(270deg, hsla(180, 3%, 31%, 1) 0%, hsla(0, 0%, 97%, .5) 100%);
  background: -moz-linear-gradient(270deg, hsla(180, 3%, 31%, 1) 0%, hsla(0, 0%, 97%, .5) 100%);
  background: -webkit-linear-gradient(270deg, hsla(180, 3%, 31%, 1) 0%, hsla(0, 0%, 97%, .5) 100%);
  display: none;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: block;
  }
  
.modal {
  width: 80%;
  height: auto;
  margin: 3rem auto 0 auto;
  position: relative;
  background-color: white;
  z-index: 10;
  display: flex;
  border-radius: 5px;
  justify-content: center;
}
.mb-nav-container{
 margin: 1rem;
}
.mb-nav-parent{
  text-align: center;
}
.mb-nav-item{
  padding: .75rem;
  font-weight: 500;
  font-size: 1.125rem;
}



/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: grey; }

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #111;
    color: lightgrey;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* LANDING */
.landing-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.landing-img-container{
 background-image: url(./assets/bg-intro-mobile.svg);
 background-repeat: no-repeat;
 background-size: contain;
 overflow-y: hidden;
 position: relative;
 height: 100%;
}
.landing-img{
  width: 100%;
  height: 100%;
  transform: translateY(-100px);
}
.dt-landing-img{
  display: none;
}
.landing-text-container{
  text-align: center;
  transform: translateY(-75px);
  padding: 1rem;
}
.landing-headline{
  margin-bottom: 1rem;
  font-size: 2rem;
}
.landing-support{
  color: grey;
}
.landing-button-container{
  margin-top: 1rem;
}
.landing-button{
  padding: .75rem 1.5rem .75rem 1.5rem;
  background-image: linear-gradient(to left, #008793, #00bf72, #a8eb12);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
.about-container{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 1rem;
}
.about-header{
  text-align: center;
}
.about-title{
  font-size: 2rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.about-info{
  color: grey;
}
.ICard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.ICard-title{
  margin: 1rem 0;
}

.ICard-info{
  color: grey;
}


.articles-section-container{
  background-color: white;
  padding: 1rem 0 0 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.articles-section-title{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.articles-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  padding: 0 0 3rem 0;
}
.article{
  width: 90%;
  background-color: white;
 
}
/* .article:not(:first-child){
  margin-top: 1rem;
} */
.article-image{
  max-width: 100%;
}
.article-image > img{
  width: 100%;
  height: auto;
}
.article-body{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: .75rem;
}
.article-author{
  font-size: .85rem;
  color: grey;
}
.article-title{
  font-size: 1.25rem;
}
.article-blurb{
  color: grey;
  margin-bottom: 1rem;
}
footer{
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-logo{
  padding: 2rem 0 1rem 0;
}
.icon-bar{
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
.foot-nav-parent{
  padding: 0 0 2rem 0;
}
.foot-nav-item{
  color: white;
  padding: .75rem;
  cursor:pointer;
}
.footer-button{
  margin: 1rem;
}
.copyright{
  color: grey;
}

@media (min-width: 1086px){
  header{
    padding: 1rem 5rem 1rem 5rem;
  }
  .hamburger{
    display: none;

  }
  .dt-request{
    display: block;
  }
  .dt-nav-parent{
    display: flex;
    gap: 10px;
  }
  .landing-container{
    flex-direction: row;
    max-height: 600px;
    min-height: 600px;
    overflow-x: clip;
    clip-path: inset(0px 0px -180px 0px);
  }
  .landing-img-container{
    order: 2;
    width: 60%;
    background-image: none;
    background-size: cover;
    overflow: clip;
    position: relative;
  }

  .landing-text-container{
    width: 40%;
    text-align: left;
    padding-left: 5rem;
    max-height: inherit;
  }
  .dt-landing-img{
    display: flex;
  }
 .landing-img{
  position: absolute;
  height: 90%;
  width: 90%;
  transform: translateX(150px);
  top: 100px;
  left: 10%;
  z-index: 10;
 }
 .about-container{
   padding: 4rem 5rem;
 }
 .about-header{
   text-align: left;
   align-self: flex-start;
   width: 50%;
 }
 .about-title{
   padding: 0;
 }
 .Icard-container{
   display: flex;
 }
 .ICard{
   width: 25%;
   margin: 0 1rem 0 0;
   text-align: left;
   justify-content: left;
   align-items: flex-start;
 }
 .articles-section-container{
   padding: 0 5rem;
 }
 .articles-container{
   flex-direction: row;
   align-items: center;
   justify-content: center;
 }
 .article{
   margin: 0 0 0 1rem;
   min-height: 477px;
   max-height: 477px;
   margin-top: 0;
 }
 .article-image > img{
  width: 100%;
  height: 100%;
 }
 #root > div > div.articles-section-container > div.articles-container > div:nth-child(1) > div.article-image > img {
   max-width: 286.75px;
   max-height: 191.164px;
 }
 .articles-section-title{
   text-align: left;;
 }
 .section-title-container{
   align-self: flex-start;
   margin-top: 3rem;;
 }
}